html,body{
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'serif';
}
.container-fluid{
    background-color: rgb(235, 154, 48);
    background-size: 100%;
    object-fit: fill;
    margin: 0 auto;
    max-width: 100%;
    max-height:100% ;
}
.right{
    background-image: url("https://cdn.dribbble.com/users/1286027/screenshots/8992972/media/5392142624624fe12980b919f762bccc.png");
    width:500px;
    background-repeat: no-repeat;
    background-size: 500px 500px;
    padding: 100px ;
    float:right;
    height:500px;
}
.left{
    background-color: antiquewhite;
    background-size:100% ;
    padding: 100px 100px;
    float: left;
    width:500px;
    height:500px;
    text:center;
}
/* Full-width inputs */
input[type = text], input[type = password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    cursor: pointer;
    width: 25%;
  }

  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }

  /* The "Forgot password" text */
  span.psw {
    
    padding-top: 16px;
  }